body{
  background:url(../img/backt.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h5{
  font-style: italic;;
}
.logot img{
  border-radius: 15px;
  margin-top: 0.5rem;
}
.menuhead{
  margin: 0 !important;
  padding: 0 0 0 0;
}
.social-menus img{
  width: 70%;
}
.img-bloque img{
  max-height: 270px;
  width: 100%;
}
.img-bloque2 img{
  max-height: 560px;
  width: 100%;
}
.img-bloque3 img{
  max-height: 175px;
  width: 80%;
}
}.perfil{
  width: 80%;
}
label{
  color: white !important;
}
button{
  margin-right: 35px;
}
.publicacion-img{
  margin: 10px;
}
@media (max-width: 600px) {
  .publicacion-img{
    width: 100%;
  }
}
